.MenuPrincipal ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 77px;
  padding: 0;
  margin: 0;
}

.contenedor-a  {  
  background-color: #334851;
  width: 199px;
  height: 44px;
  border: 3px solid #334851;
  display: flex;
  align-items: center;

}

.contenedor-v  {  
  border: 3px solid #83AC72;
  width: 199px;
  height: 44px;
  display: flex;
  align-items: center;

}

.step-1{
  background-color: #334851;
  width: 30px;
  height: 44px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-2{
  background-color: #83AC72;
  width: 30px;
  height: 44px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;

}


.Texto {
  color: #FFFFFF;
  font-family: "Manrope-bold";
}

.Texto-1 {
  color: #334851;
  font-family: "Manrope";
  padding-left: 13px;
}

.orden-elementos {
  display: flex;
  margin-top: 30px;
}

.orden-elementos p {
  padding-top: 6px;
}

.orden-elementos .botones {
  display: flex;
  gap: 6px;
  margin-left: auto;
}

.boton-volver {
  border:none;
  background-color: #FF0000;
  color: #FFFFFF;
  font-family: "Manrope-bold";
  width: 107px;
  height: 33px;
  margin-right: 3px;
}

.boton-volver:hover {
  background-color: #BF0000;
}

.boton-continuar {
  border:none;
  background-color: #8CC63F;
  color: #FFFFFF;
  font-family: "Manrope-bold";
  width: 107px;
  height: 33px;
}

hr {
background-color: #000000;
height: 0.5px;
width: 1400px;
}


.label{
  font-family: "Manrope-bold";
  color: #83AC72;
}


.Carga-de-archivos {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  gap: 6px;
}

.Caja-carga {
  border: 4px dashed #83AC72;
  background-color: #FFFFF8;
  border-radius: 3px;
  width: 440px;
  height: 230px;
  position: relative; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;      
  gap: 12px;
  margin-top: 20px;
  
}

.Texto-carga p {
  font-family: "Manrope-bold";
  font-size: 12px;
}

.aclaracion {
    text-align: center;
}

.boton-carga {
    width: 160px;
    height: 33px;
    background-color:#334851;
    color: #ffffff;
    border: none;
    font-family: "Manrope-bold";
}

  .boton-carga:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 13px #334851;
  }



.footer-logo {
  background-color: #FFFFFF;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 10px; 
  box-sizing: border-box;
}

.Logo-Ministerio {
    width:130px;
    height: 20px;
    margin-left: 33px;
    padding-top: 9px;
    
  }

  .Logo-Provincia {
    width:90px;
    height: 30px;
    padding-top: 9px;
    
  }

  .Logo-Gobierno {
    width:77px;
    height: 33px;
    padding-top: 9px;
    
  }

  .Logo-Andes {
    width:145px;
    height: 20px;
    margin-right: 33px;
    padding-top: 9px;
    
  }