<body class="layout">
<nav class="MenuPrincipal">
  <ul class="MenuListado">
    <li class="contenedor-v">
       <span class="step-2">1</span>
       <span class="Texto-1">Datos del solicitante</span> 
    </li>

<div class="Flecha-Menu">
   <img class="flechaMenu" src="assets/Logos/flecha.huds.svg" alt="flecha"/>
</div>

    <li class="contenedor-v">
       <span class="step-2">2</span>
       <span class="Texto-1">Datos del paciente</span> 
    </li>

<div class="Flecha-Menu">
   <img class="flechaMenu" src="assets/Logos/flecha.huds.svg" alt="flecha"/>
</div>

    <li class="contenedor-v">
       <span class="step-2">3</span>
       <span class="Texto-1">Descripción</span> 
    </li>

<div class="Flecha-Menu">
   <img class="flechaMenu" src="assets/Logos/flecha.huds.svg" alt="flecha"/>
</div>

    <li class="contenedor-a">
        <span class="step-1">4</span>
       <span class="Texto">Carga de adjuntos</span> 
    </li>
  </ul>
</nav>

<div class="orden-elementos">
<p>Carga los archivos necesarios para completar el proceso.</p> 
  <div class="botones">
    <button class="boton-volver" type="button">VOLVER</button>
    <button class="boton-continuar" type="button">CONTINUAR</button> 
  </div>
</div>
<hr>

<main class="Carga-de-archivos">
<p class="aclaracion">Solo se admiten archivos en formato PDF</p>
 
<div class="Caja-carga">

<img class="descarga" src="assets/Logos/download-flecha.svg" alt="descarga"/>

  <div class="Texto-carga">
    <p>Máximo de tamaño a subir 15MB</p>
  </div>

  <button class="boton-carga" type="button">CARGAR ARCHIVOS</button>

</div>


</main>

<footer class="FooterDatos">
  <div class="footer-logo">
    <div class="Logo-Ministerio"> 
      <img src="assets/Logos/logos-06.svg" alt="Logo Ministerio"/>
    </div>
    <div class="Logo-Provincia">
      <img src="assets/Logos/logos-07.svg" alt="Logo provincia"/>
    </div>
    <div class="Logo-Gobierno"> 
      <img src="assets/Logos/logos-08.svg" alt="Logo gobierno"/>
    </div> 
    <div class="Logo-Andes">
      <img src="assets/Logos/logos-09.svg" alt="Logo andes"/>
    </div> 
  </div>
</footer>
</body>
