<nav aria-label="Progreso de la solicitud">
    <ol class="MenuPrincipal">
        <li class="MenuPrincipal__step">
            <span class="MenuPrincipal__circulo">1</span>
            <span class="MenuPrincipal__label">Datos del solicitante</span>
        </li>

        <li class="MenuPrincipal__step">
            <span class="MenuPrincipal__circulo">2</span>
            <span class="MenuPrincipal__label">Datos del paciente</span>
        </li>

        <li class="MenuPrincipal__step">
            <span class="MenuPrincipal__circulo">3</span>
            <span class="MenuPrincipal__label">Descripción</span>
        </li>

        <li class="MenuPrincipal__step" aria-current="step">
            <span class="MenuPrincipal__circulo">4</span>
            <span class="MenuPrincipal__label">Carga de adjuntos</span>
        </li>
    </ol>
</nav>

<hr class="linea-personalizada">

<div class="grid-form-contenedor">
    <div class="orden-elementos">
        <div class="elemento1"><b>Paso 4 de 4</b></div>
        <div class="elemento2"><b>Carga de adjuntos</b></div>
        <div class="elemento3">Carga los archivos necesarios para completar el proceso.</div>
    </div>
    <div class="botones">
        <button class="boton-volver" type="button">VOLVER</button>
        <button class="boton-continuar" (click)="goto()" type="button">CONTINUAR</button>
    </div>


    <div class="carga-de-archivos">
        <div class="espacio-carga">
            <img src="/assets/Logos/download-flecha.svg" alt="Imagen de carga" class="imagen-carga">
            <div class="tipo-carga">Máximo de tamaño a subir: 15MB </div>
            <button class="boton-carga" type="button">CARGAR ARCHIVOS</button>
        </div>
        <p class="Texto-carga-p">Solo se admiten archivos en formato PDF</p>
    </div>