<div class="layout">

  <main class="ContenidoConfirmacion">
  <div class="LogoConfirmacion">
  <img src="assets/Logos/IconoCheck.svg" alt="logo huds">
</div>

  <h1 class="TextoPrincipal">Solicitud enviada con éxito</h1>

<div class="TextoIntro">
  <p>Recordá que toda la información necesaria<br> 
    será enviada a tu correo electrónico <br>nombre......@correo.com
  </p>
  </div>

   <div class="BotonConfirmacion">
      <button class="boton-descarga" type="button">DESCARGAR COMPROBANTE</button>
  </div>
  </main>


</div>


  