<nav class="MenuPrincipal">
  <ul class="MenuListado">
    <li class="contenedor-a">
       <span class="step-1">1</span>
       <span class="Texto">Datos del solicitante</span> 
    </li>

    <li class="contenedor-v">
       <span class="step-2">2</span>
       <span class="Texto-1">Datos del paciente</span> 
    </li>

    <li class="contenedor-v">
       <span class="step-2">3</span>
       <span class="Texto-1">Descripción</span> 
    </li>

    <li class="contenedor-v">
        <span class="step-2">4</span>
       <span class="Texto-1">Carga de adjuntos</span> 
    </li>

  </ul>
</nav>

<div class="orden-elementos">
  <p>Ingresá tus <b>datos personales</b> para continuar con el pedido</p>
 <div class="botones">
    <button class="boton-volver" type="button">VOLVER</button>
    <button class="boton-continuar" type="button">CONTINUAR</button> 
 </div>
</div>
<hr>

<div class="form-contenedor">
<form name="carga-datos">
  <label class="label">Nombre:</label>
     <input class="form" type="text" name="Nombre">
  <label class="label">Apellido:</label>
     <input class="form" type="text" name="Apellido">
  <label class="label">Tipo de documento:</label>
     <input class="form" type="select" name="Dni">
  <label class="label">Nº de documento:</label>
     <input class="form" type="text" name="Número de documento">
  <label class="label">Email:</label>
     <input class="form" type="text" name="Email">
  <label class="label">Teléfono:</label>
     <input class="form" type="number" name="Teléfono">
  <label class="label">Organismo:</label>
     <input class="form" type="select" name="Organismo">
</form>
</div>
