<nav aria-label="Progreso de la solicitud">
    <ol class="MenuPrincipal">
        <li class="MenuPrincipal__step" aria-current="step">
            <span class="MenuPrincipal__circulo">1</span>
            <span class="MenuPrincipal__label">Datos del solicitante</span>
        </li>

        <li class="MenuPrincipal__step">
            <span class="MenuPrincipal__circulo">2</span>
            <span class="MenuPrincipal__label">Datos del paciente</span>
        </li>

        <li class="MenuPrincipal__step">
            <span class="MenuPrincipal__circulo">3</span>
            <span class="MenuPrincipal__label">Descripción</span>
        </li>

        <li class="MenuPrincipal__step">
            <span class="MenuPrincipal__circulo">4</span>
            <span class="MenuPrincipal__label">Carga de adjuntos</span>
        </li>
    </ol>
</nav>

<hr class="linea-personalizada">

<!-- <div class="botones">
        <button class="boton-volver" type="button">VOLVER</button>
        <button class="boton-continuar" (click)="goto()" type="button">CONTINUAR</button>
    </div>
</div>-->

<div class="grid-form-contenedor">
    <div class="orden-elementos">
        <div class="elemento1"><b>Paso 1 de 4</b></div>
        <div class="elemento2"><b>Datos del solicitante</b></div>
        <div class="elemento3">Ingresá tus datos personales para continuar con el pedido</div>

    </div>
    <div class="botones">
        <button class="boton-volver" type="button">VOLVER</button>
        <button class="boton-continuar" (click)="goto()" type="button">CONTINUAR</button>
    </div>

    <form class="carga-datos-izquierda" name="carga-datos">

        <div class="form-row">
            <label class="label">Nombre <span style="color:#E00713">*</span>:</label>
            <input class="form" type="text" name="Nombre" required>
        </div>

        <div class="form-row">
            <label class="label">Tipo de documento <span style="color:#E00713">*</span>:</label>
            <div class="DropdownDoc">
                <img class="flecha" src="assets/Logos/menu-down.svg" alt="Flecha" />
                <select name="opciones" class="Options">
                    <option value=""></option>
                    <option value="DNI">DNI</option>
                    <option value="Pasaporte">Pasaporte</option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <label class="label">Email <span style="color:#E00713">*</span>: </label>
            <input class="form" type="text" name="Email" required>
        </div>

        <div class="form-row">
            <label class="label">Organismo <span style="color:#E00713">*</span>: </label>
            <div class="DropdownOrg">
                <img class="flecha" src="assets/Logos/menu-down.svg" alt="Flecha" />
                <select name="Organismo" class="Options">
                    <option value=""></option>
                    <option value="Juzgado Nº 1">Juzgado Nº 1</option>
                    <option value="Juzgado Nº 2">Juzgado Nº 2</option>
                    <option value="Juzgado Nº 3">Juzgado Nº 3</option>
                    <option value="Abogado particular">Abogado particular</option>
                    <option value="Otro">Otro</option>
                </select>
            </div>
        </div>

    </form>

    <form class="carga-datos-derecha" name="carga-datos">

        <div class="form-row">
            <label class="label">Apellido <span style="color:#E00713">*</span>:</label>
            <input class="form" type="text" name="Apellido" required>
        </div>

        <div class="form-row">
            <label class="label">Nº de documento <span style="color:#E00713">*</span>: </label>
            <input class="form" type="text" name="Número de documento" required>
        </div>

        <div class="form-row">
            <label class="label">Teléfono <span style="color:#E00713">*</span>: </label>
            <input class="form" type="number" name="Teléfono" required>
        </div>

    </form>

    <div class="Parrafo">
        <p class="parrafoImp"><b>Importante:</b> En el email confirmado se enviará la información correspondiente al
            concluir el proceso.</p>
    </div>

    <!--<div class="botones">
        <button class="boton-volver" type="button">VOLVER</button>
        <button class="boton-continuar" (click)="goto()" type="button">CONTINUAR</button>
    </div>-->
</div>