<div class="page">
<div class="toolbar" role="banner">
  <span class="spanHeader">SOLICITUD DE HISTORIA DE SALUD</span>
</div>

<div class="content" role="main">

<router-outlet></router-outlet>
</div>
<footer>
  <div class="footer-logo">
    <div class="LogoMinisterio"> 
      <img src="../assets/Logos/Logo. Ministerio de salud.svg" alt="Logo Ministerio"/>
    </div>
    <div class="LogoProvincia">
      <img src="../assets/Logos/Logo provincia.svg" alt="Logo provincia"/>
    </div>
    <div class="LogoGobierno"> 
      <img src="../assets/Logos/logo gobierno.svg" alt="Logo gobierno"/>
    </div> 
    <div class="LogoAndes">
      <img src="../assets/Logos/logo andes.svg" alt="Logo andes"/>
    </div> 
  </div>
</footer>
</div>





