<div class="page">
    <div class="toolbar" role="banner">
        <span class="spanHeader">SOLICITUD DE HISTORIA DE SALUD</span>
    </div>

    <div class="content" role="main">
        <router-outlet></router-outlet>
    </div>

    <footer>
        <div class="footer-logo">
            <div class="Logo-Ministerio">
                <img src="assets/Logos/logos-06.svg" alt="Logo Ministerio" />
            </div>
            <div class="Logo-Provincia">
                <img src="assets/Logos/logos-07.svg" alt="Logo provincia" />
            </div>
            <div class="Logo-Gobierno">
                <img src="assets/Logos/logos-08.svg" alt="Logo gobierno" />
            </div>
            <div class="Logo-Andes">
                <img src="assets/Logos/logos-09.svg" alt="Logo andes" />
            </div>
        </div>
    </footer>
</div>