<nav aria-label="Progreso de la solicitud">
    <ol class="MenuPrincipal">
        <li class="MenuPrincipal__step">
            <span class="MenuPrincipal__circulo">1</span>
            <span class="MenuPrincipal__label">Datos del solicitante</span>
        </li>

        <li class="MenuPrincipal__step" aria-current="step">
            <span class="MenuPrincipal__circulo">2</span>
            <span class="MenuPrincipal__label">Datos del paciente</span>
        </li>

        <li class="MenuPrincipal__step">
            <span class="MenuPrincipal__circulo">3</span>
            <span class="MenuPrincipal__label">Descripción</span>
        </li>

        <li class="MenuPrincipal__step">
            <span class="MenuPrincipal__circulo">4</span>
            <span class="MenuPrincipal__label">Carga de adjuntos</span>
        </li>
    </ol>
</nav>

<hr class="linea-personalizada">

<div class="grid-form-contenedor">
    <div class="orden-elementos">
        <div class="elemento1"><b>Paso 2 de 4</b></div>
        <div class="elemento2"><b>Datos del paciente</b></div>
        <div class="elemento3">Ingresá la información correspondiente</div>
    </div>
    <div class="botones">
        <button class="boton-volver" type="button" (click)="vuelve()">VOLVER</button>
        <button class="boton-continuar" (click)="goto()" type="button">CONTINUAR</button>
    </div>

    <div class="form-row izq">
        <label class="label">Nombre <span style="color:#E00713">*</span>:</label>
        <input class="form" type="text" name="Nombre" required
               [(ngModel)]="solicitudService.paciente.nombre">
    </div>

    <div class="form-row der">
        <label class="label">Apellido <span style="color:#E00713">*</span>:</label>
        <input class="form" type="text" name="Apellido" required
               [(ngModel)]="solicitudService.paciente.apellido">
    </div>

    <div class="form-row izq">
        <label class="label">Documento <span style="color:#E00713">*</span>:</label>
        <input class="form" type="text" name="Documento" required
               [(ngModel)]="solicitudService.paciente.documento">
    </div>

    <div class="form-row der">
        <label class="label" for="fecha-nacimiento">Fecha de nacimiento <span style="color:#E00713">*</span>: </label>
        <input id="fecha-nacimiento" class="form" type="date" name="FechaNacimiento" required
               [(ngModel)]="solicitudService.paciente.fechadeNacimiento">
    </div>

    <div class="form-row izq">
        <label class="label">Sexo <span style="color:#E00713">*</span>: </label>
        <div class="DropdownSexo">
            <img class="flecha" src="assets/Logos/menu-down.svg" alt="Flecha" />
            <select name="Sexo" class="Options"
                    [ngModel]="solicitudService.paciente.genero.tipo"
                    (ngModelChange)="onGeneroChange($event)">
                <option value=""></option>
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
                <option value="No binario">No binario</option>
            </select>
        </div>
    </div>

</div>
