<nav aria-label="Progreso de la solicitud">
    <ol class="MenuPrincipal">
        <li class="MenuPrincipal__step">
            <span class="MenuPrincipal__circulo">1</span>
            <span class="MenuPrincipal__label">Datos del solicitante</span>
        </li>

        <li class="MenuPrincipal__step" aria-current="step">
            <span class="MenuPrincipal__circulo">2</span>
            <span class="MenuPrincipal__label">Datos del paciente</span>
        </li>

        <li class="MenuPrincipal__step">
            <span class="MenuPrincipal__circulo">3</span>
            <span class="MenuPrincipal__label">Descripción</span>
        </li>

        <li class="MenuPrincipal__step">
            <span class="MenuPrincipal__circulo">4</span>
            <span class="MenuPrincipal__label">Carga de adjuntos</span>
        </li>
    </ol>
</nav>

<hr class="linea-personalizada">

<!-- <div class="botones">
        <button class="boton-volver" type="button">VOLVER</button>
        <button class="boton-continuar" (click)="goto()" type="button">CONTINUAR</button>
    </div>
</div>
<hr>-->

<div class="grid-form-contenedor">
    <div class="orden-elementos">
        <div class="elemento1"><b>Paso 2 de 4</b></div>
        <div class="elemento2"><b>Datos del paciente</b></div>
        <div class="elemento3">Ingresá la información correspondiente</div>
    </div>
    <div class="botones">
        <button class="boton-volver" type="button">VOLVER</button>
        <button class="boton-continuar" (click)="goto()" type="button">CONTINUAR</button>
    </div>

    <form class="carga-datos-izquierda" name="carga-datos">

        <div class="form-row">
            <label class="label">Nombre <span style="color:#E00713">*</span>:</label>
            <input class="form" type="text" name="Nombre" required>
        </div>

        <div class="form-row">
            <label class="label">Documento <span style="color:#E00713">*</span>:</label>
            <input class="form" type="text" name="Documento" required>
        </div>

        <div class="form-row">
            <label class="label">Sexo <span style="color:#E00713">*</span>: </label>
            <div class="DropdownSexo">
                <img class="flecha" src="assets/Logos/menu-down.svg" alt="Flecha" />
                <select name="Sexo" class="Options">
                    <option value=""></option>
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                    <option value="No binario">No binario</option>
                </select>
            </div>
        </div>

    </form>

    <form class="carga-datos-derecha" name="carga-datos">

        <div class="form-row">
            <label class="label">Apellido <span style="color:#E00713">*</span>:</label>
            <input class="form" type="text" name="Apellido" required>
        </div>

        <div class="form-row">
            <label class="label">Fecha de nacimiento <span style="color:#E00713">*</span>: </label>
            <input class="form" type="text" name="Fecha de nacimiento" required>
        </div>

    </form>

</div>