<nav aria-label="Progreso de la solicitud">
    <ol class="MenuPrincipal">
        <li class="MenuPrincipal__step">
            <span class="MenuPrincipal__circulo">1</span>
            <span class="MenuPrincipal__label">Datos del solicitante</span>
        </li>

        <li class="MenuPrincipal__step">
            <span class="MenuPrincipal__circulo">2</span>
            <span class="MenuPrincipal__label">Datos del paciente</span>
        </li>

        <li class="MenuPrincipal__step" aria-current="step">
            <span class="MenuPrincipal__circulo">3</span>
            <span class="MenuPrincipal__label">Descripción</span>
        </li>

        <li class="MenuPrincipal__step">
            <span class="MenuPrincipal__circulo">4</span>
            <span class="MenuPrincipal__label">Carga de adjuntos</span>
        </li>
    </ol>
</nav>

<hr class="linea-personalizada">

<div class="grid-form-contenedor">
    <div class="orden-elementos">
        <div class="elemento1"><b>Paso 3 de 4</b></div>
        <div class="elemento2"><b>Descripción</b></div>
        <div class="elemento3">Completa los siguientes campos detallando <b>el pedido</b></div>
    </div>
    <div class="botones">
        <button class="boton-volver" type="button">VOLVER</button>
        <button class="boton-continuar" (click)="goto()" type="button">CONTINUAR</button>
    </div>


    <form class="carga-datos-izquierda" name="carga-datos">
        <div class="form-row">
            <label class="label">Institución<span style="color:#E00713">*</span>: </label>
            <div class="DropdownOrg">
                <img class="flecha" src="assets/Logos/menu-down.svg" alt="Flecha" />
                <select name="Institución" class="Options">
                    <option value=""></option>
                    <option value="HTAL1">HTAL PROV NEUQUÉN - DR EDUARDO CASTRO RENDÓN</option>
                    <option value="HTAL2">HTAL HELLER - DR HORACIO BURD</option>
                    <option value="HTAL3">HTAL BOUQUET ROLDAN</option>
                    <option value="HTAL4">HTAL CENTENARIO - DR NATALIO BURD</option>
                    <option value="HTAL5">HTAL SENILLOSA</option>
                    <option value="SUBSECRETERIA DE SALUD">SUBSECRETERIA DE SALUD</option>
                    <option value="CDS">CENTRO DE SALUD</option>

                </select>
            </div>
        </div>
    </form>

    <form class="carga-datos-derecha" name="carga-datos">
        <div class="form-row">
            <label class="label">Seleccione efector<span style="color:#E00713">*</span>: </label>
            <div class="DropdownEfe">
                <img class="flecha" src="assets/Logos/menu-down.svg" alt="Flecha" />
                <select name="Institución" class="Options">
                    <option value=""></option>
                    <option value="Efector1">HTAL PROV NEUQUÉN - DR EDUARDO CASTRO RENDÓN</option>
                    <option value="Efector2">HTAL HELLER - DR HORACIO BURD</option>
                    <option value="Efector3">HTAL BOUQUET ROLDAN</option>
                    <option value="Efector4">HTAL CENTENARIO - DR NATALIO BURD</option>
                    <option value="Efector5">HTAL SENILLOSA</option>
                    <option value="Efector6">SUBSECRETERIA DE SALUD</option>
                    <option value="Efector7">CENTRO DE SALUD</option>
                </select>
            </div>
        </div>

    </form>

    <form class="carga-datos-descripción" name="carga-datos">
        <label class="label">Descripción:</label>
        <textarea class="form" type="text" name="Nombre" placeholder="Breve descripción del pedido"></textarea>
    </form>