<nav aria-label="Progreso de la solicitud">
    <ol class="MenuPrincipal">
        <li class="MenuPrincipal__step">
            <span class="MenuPrincipal__circulo">1</span>
            <span class="MenuPrincipal__label">Datos del solicitante</span>
        </li>

        <li class="MenuPrincipal__step">
            <span class="MenuPrincipal__circulo">2</span>
            <span class="MenuPrincipal__label">Datos del paciente</span>
        </li>

        <li class="MenuPrincipal__step" aria-current="step">
            <span class="MenuPrincipal__circulo">3</span>
            <span class="MenuPrincipal__label">Descripción</span>
        </li>

        <li class="MenuPrincipal__step">
            <span class="MenuPrincipal__circulo">4</span>
            <span class="MenuPrincipal__label">Carga de adjuntos</span>
        </li>
    </ol>
</nav>

<hr class="linea-personalizada">

<div class="grid-form-contenedor">
    <div class="orden-elementos">
        <div class="elemento1"><b>Paso 3 de 4</b></div>
        <div class="elemento2"><b>Descripción</b></div>
        <div class="elemento3">Completa los siguientes campos detallando <b>el pedido</b></div>
    </div>
    <div class="botones">
        <button class="boton-volver" type="button" (click)="vuelve()">VOLVER</button>
        <button class="boton-continuar" (click)="goto()" type="button">CONTINUAR</button>
    </div>


    <form class="carga-datos-izquierda" name="carga-datos">
        <div class="form-row">
            <label class="label" id="institution-label">Institución<span style="color:#E00713">*</span>: </label>
            <div class="DropdownOrg custom-select" [class.is-open]="openDropdown === 'institution'">
                <input type="hidden" name="Institución" [value]="selectedInstitution">
                <button
                    id="institution-select"
                    class="custom-select__trigger"
                    type="button"
                    aria-labelledby="institution-label institution-select"
                    aria-haspopup="listbox"
                    [attr.aria-expanded]="openDropdown === 'institution'"
                    (click)="toggleDropdown('institution')">
                    <span class="custom-select__value" [class.is-placeholder]="!selectedInstitution" [title]="getOptionLabel(institutions, selectedInstitution)">
                        {{ getOptionLabel(institutions, selectedInstitution) || 'Seleccione una institución' }}
                    </span>
                    <img class="flecha" src="assets/Logos/menu-down.svg" alt="" />
                </button>
                <ul class="custom-select__menu" role="listbox" aria-labelledby="institution-label" *ngIf="openDropdown === 'institution'">
                    <li *ngFor="let institution of institutions" role="option" [attr.aria-selected]="selectedInstitution === institution.value">
                        <button type="button" [title]="institution.label" (click)="selectOption('institution', institution.value)">
                            {{ institution.label }}
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </form>

    <form class="carga-datos-derecha" name="carga-datos-derecha">
        <div class="form-row">
            <label class="label" id="efector-label">Seleccione efector<span style="color:#E00713">*</span>: </label>
            <div class="DropdownEfe custom-select" [class.is-open]="openDropdown === 'efector'">
                <input type="hidden" name="Efector" [value]="selectedEfector">
                <button
                    id="efector-select"
                    class="custom-select__trigger"
                    type="button"
                    aria-labelledby="efector-label efector-select"
                    aria-haspopup="listbox"
                    [attr.aria-expanded]="openDropdown === 'efector'"
                    (click)="toggleDropdown('efector')">
                    <span class="custom-select__value" [class.is-placeholder]="!selectedEfector" [title]="getOptionLabel(efectores, selectedEfector)">
                        {{ getOptionLabel(efectores, selectedEfector) || 'Seleccione un efector' }}
                    </span>
                    <img class="flecha" src="assets/Logos/menu-down.svg" alt="" />
                </button>
                <ul class="custom-select__menu" role="listbox" aria-labelledby="efector-label" *ngIf="openDropdown === 'efector'">
                    <li *ngFor="let efector of efectores" role="option" [attr.aria-selected]="selectedEfector === efector.value">
                        <button type="button" [title]="efector.label" (click)="selectOption('efector', efector.value)">
                            {{ efector.label }}
                        </button>
                    </li>
                </ul>
            </div>
        </div>

    </form>

    <form class="carga-datos-descripción" name="carga-datos-desc">
        <label class="label">Descripción:</label>
        <textarea class="form" type="text" name="Descripcion" placeholder="Breve descripción del pedido"
                  [(ngModel)]="solicitudService.pedido.descripcion"></textarea>
    </form>
