/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  background-color: #FCF2DC; 
}
body, app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

content, .content {
  flex: 1 0 auto;
}

footer {
  margin-top: 0 !important;
  padding-bottom: 0 !important;
}

@font-face {
  font-family: 'Manrope';
  src: url('/assets/Font/Manrope-Regular.otf') format('OpenType');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: ('/assets/Font/Manrope-Bold.otf') format('OpenType');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

