:host {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
    width: 100%;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

h1.TituloPrincipal {
    color: #83AC72;
    font-size: 50px;
    margin-bottom: 7px;
    font-family: "Manrope-ExtraBold";
    text-align: center;
}

p {
    margin: 0;
}

.spacer {
    flex: 1;
}

span {
    color: #FFFFFF;
}

.LogoHuds {
    width: 86px;
    height: 62px;
    margin: 13px auto;
    filter: drop-shadow(0px 3px 6px rgba(51, 72, 81, 0.3));
    display: flex;
    justify-content: center;
    align-items: center;
}

.TextoIntro {
    text-align: center;
    margin-bottom: 33px;
    font-family: "Manrope-bold";
    font-size: 18px;
}

.TextoLargo {
    text-align: center;
    margin-bottom: 40px;
    font-family: "Manrope-light";
    font-size: 16px;
}

.content {
    display: flex;
    margin: 82px auto 0px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
    //border: 2px solid #1976d2;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
}

.card {
    all: unset;
    border-radius: 4px;
    background-color: #334851;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
}

.card.card-small {
    height: 16px;
    width: 156px;
}

.card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 13px #334851;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {

    .card-container>*:not(.circle-link),
    .terminal {
        width: 100%;
    }

    .card:not(.highlight-card) {
        height: 16px;
        margin: 8px 0;
    }

    .card.highlight-card span {
        margin-left: 72px;
    }

    svg#rocket-smoke {
        right: 120px;
        transform: rotate(-5deg);
    }
}

@media screen and (max-width: 575px) {
    svg#rocket-smoke {
        display: none;
        visibility: hidden;
    }
}